

  <!DOCTYPE html>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Says</title>
    
    <link rel="stylesheet" href="/public.css">
</head>

<body>
    <h1>Simon Says</h1>
    <h2 class="level">Press Any Key Start The Game</h2>
    <div class="buttons">
        <div class="line1">
            <div class="btn purple" id="red"></div>
            <div class="btn lighblue" id="yellow"></div>
        </div>
        <div class="line2">
            <div class="btn pinkish" id="purple"></div>
            <div class="btn greenish" id="green"></div>
        </div>
    </div>
    
    <script src="/public.js"></script>  
</body>

</html>